@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

.bold {
  font-weight: bold !important;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}


.align-items-center {
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.no-wrap {
  white-space: nowrap;
}

.w-100 {
  width: 100%;
}

.flex-column {
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}